<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-overlay-behavior/demo/simple-overlay.html">
<link rel="import" href="../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../bower_components/paper-time-picker/paper-time-picker.html">
<link rel="import" href="shared-styles.html">

<dom-module id="student-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .teacherName{
        cursor: pointer;
        cursor: hand;
      }
      iron-list {
        min-height: 400px;
        padding-top: 10px;
        --iron-list-items-container: {
          max-width: 800px;
          margin-bottom: 60px;
          border-bottom: 1px solid #ddd;
        };
      }
      .item {
        @apply(--layout-horizontal);
        padding: 20px;
        background-color: white;
        border: 1px solid #ddd;
        cursor: pointer;
        margin-bottom: 10px;
      }
      .timeDetail {
        color: gray;
        display: none;
      }
      .pad {
        padding: 0 16px;
        @apply(--layout-flex);
        @apply(--layout-vertical);
      }
      .item:hover .teacherName::after {
        content: ' [+]';
        color: gray;
      }

      .item.expanded:hover .teacherName::after {
        content: '';
      }

      .item.expanded .timeDetail {
        display: block;
      }

      .item.expanded:hover .teacherName::after {
        content: ' [–]';
      }
      .timeItem {
        height: 50px;
        line-height: -moz-block-height;
      }
      .timeItem paper-button{
        float: right;
      }
      simple-overlay{
        width: 300px;
      }
      .pick{
        float: right;
        height: 32px;
      }
      #schedulePicker paper-button.blue{
        margin: 10px;
      }

    </style>
    <simple-overlay id="schedulePicker">
      <p>Date: <span id="scheduleDate"></span></p>
      <p>Time from: <span id="scheduleTimeFrom"></span><paper-button raised class="pick" onclick="timePickerFromOverlay.open()">Pick a time</paper-button></p>
      <p>Time to: <span id="scheduleTimeTo"></span><paper-button raised class="pick" onclick="timePickerToOverlay.open()">Pick a time</paper-button></p>
      <paper-button class="blue" on-tap="confirmSchedule">Confirm</paper-button>
      <paper-button class="blue" onclick="schedulePicker.close()">Close</paper-button>
    </simple-overlay>

    <simple-overlay id="timePickerFromOverlay">
      <paper-dialog id="dialog" modal class="paper-time-picker-dialog"
        on-iron-overlay-closed="dismissDialog">
        <paper-time-picker id="timePickerFrom" time="[[time]]"></paper-time-picker>
        <div class="buttons">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button on-tap="confirmTime" data-args="from">OK</paper-button>
        </div>
      </paper-dialog>
    </simple-overlay>

    <simple-overlay id="timePickerToOverlay">
      <paper-dialog id="dialog" modal class="paper-time-picker-dialog"
        on-iron-overlay-closed="dismissDialog">
        <paper-time-picker id="timePickerTo" time="[[time]]"></paper-time-picker>
        <div class="buttons">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button on-tap="confirmTime" data-args="to">OK</paper-button>
        </div>
      </paper-dialog>
    </simple-overlay>

    <div class="card">
      <h1>Scheduler</h1>

      <h3>Teachers:</h3>
      <iron-list id="list" items="{{teachers}}" selection-enabled multi-selection>
        <template>
          <div>
            <div class$="[[getClassForItem(item, selected)]]" tabindex$="[[tabIndex]]">
              <div class="pad">
                <div name="{{item.ID}}" class="teacherName" >{{item.name}}</div>
                <div id="{{item.ID}}" class="timeDetail">
                  <template is="dom-repeat" items="[[item.timetable]]" as="timetable">
                    <div class="timeItem">
                      Date: <span>{{timetable.date}}</span>
                      From: <span>{{timetable.from}}</span> - 
                      To:   <span>{{timetable.to}}</span>
                      <paper-button class="blue" raised on-tap="schedule" data-args$="{{timetable.date}}, {{timetable.ID}}">Schedule</paper-button>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </template>
      </iron-list>

      
<!--       <template is="dom-repeat" id="teachersList" items="[[teachers]]">
        <div name="{{item.ID}}" class="teacherName" on-tap="showDetail">{{item.name}}</div>
        <div id="{{item.ID}}" class="timeDetail">
          <template is="dom-repeat" items="[[item.timetable]]">
            Date: <span>{{item.date}}</span><br>
            From: <span>{{item.from}}</span><br>
            To:   <span>{{item.to}}</span><br>
          </template>
        </div>
      </template> -->
    </div>
  </template>

  <script>
    Polymer({
      is: 'student-view',
      properties: {
        timetableSnap: Object,
        // teachers: {
        //   type: Array,
        //   value: [],
        // }
      },

      ready: function(){
        this.$.list.scrollTarget = this.ownerDocument.documentElement;

        this.teachers = [];

        var _self = this;

        firebase.database().ref('api/timetable').once('value').then(function(snapshot) {
          _self.set('timetableSnap', snapshot);
        });
        
        firebase.database().ref('api/teachers').once('value').then(function(snapshot) {
          console.log('reading DB');

          var mylist = [];

          snapshot.forEach(function(childSnapshot) {
            mylist.push({name: childSnapshot.val().name + ' ' + childSnapshot.val().surname, ID: childSnapshot.key, timetable: _self.getTimeDetail(childSnapshot.key)});
          });

          _self.set('teachers', mylist);

          // _self.$.teachersList.render();
          console.log(JSON.stringify(_self.teachers));
        });
      },

      getTimeDetail: function(ID){
        console.log('getTimeDetail');
        var mylist = [];

        this.timetableSnap.forEach(function(childSnapshot) {
          if(childSnapshot.val().teacher_id == ID){
            mylist.push({ID: childSnapshot.key, date: childSnapshot.val().date, to: childSnapshot.val().to, from: childSnapshot.val().from});
          }
        });

        console.log('TIMEDETAIL: ' + JSON.stringify(mylist));
        return mylist;
      },

      showDetail: function(e){
        e.target.getAttribute('id');
        console.log(e.target.name);
        detail = document.querySelector('.timeDetail#\\3' + e.target.name + '');
        detail.style.visibility = 'visible';
      },

      getClassForItem: function(item, selected) {
        return selected ? 'item expanded' : 'item';
      },

      schedule: function(e){
        var args = e.target.dataset.args.split(',');
        this.selectedTimetable = args[1];

        console.log(this.selectedTimetable);

        var date = args[0];

        this.$.scheduleDate.textContent = date;
        this.$.schedulePicker.open();
      },

      confirmTime: function(e){
        var args = e.target.dataset.args.split(',')[0];
        if(args == 'from'){
          var time = this.$.timePickerFrom.hour + ':' + (this.$.timePickerFrom.minute < 10 ? '0' : '') + this.$.timePickerFrom.minute;
          this.$.scheduleTimeFrom.textContent = time;
          this.$.timePickerFromOverlay.close();
        } 
        else if(args == 'to'){
          var time = this.$.timePickerTo.hour + ':' + (this.$.timePickerTo.minute < 10 ? '0' : '') + this.$.timePickerTo.minute;
          this.$.scheduleTimeTo.textContent = time;
          this.$.timePickerToOverlay.close();
        }

      },

      confirmSchedule: function(e){
        // var args = e.target.dataset.args.split(',');
        var _self = this;
        console.log(_self.selectedTimetable);

/*        firebase.database().ref('api/timetable/' + _self.selectedTimetable).once('value').then(function(snapshot) {
          if(snapshot.val().from == this.$.scheduleTimeFrom.textContent){
            console.log('from times are equal');
          } else{
            console.log('from times are NOT equal');
          }
        });*/
      },

      log: function(){
        console.log('LOG: ' + this.teachers);
      }

    });
  </script>
</dom-module>
