<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="shared-styles.html">

<dom-module id="teacher-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-button{
        margin: 10px 0px;
      }
      .timeItem {
        @apply(--layout-horizontal);
        padding: 10px 20px;
        background-color: white;
        border: 1px solid #ddd;
        cursor: pointer;
        margin-bottom: 10px;
        height: 50px;
        line-height: -moz-block-height;
      }
      span{
        padding-right: 5px;
      }
    </style>

    <div class="card">
      <h1>Your timetable</h1>
      <paper-button class="blue" on-click="addTime">Add time</paper-button>
      <template is="dom-repeat" items="{{myTimetable}}">
        <div>
          <div class="timeItem">
            <span>Date: {{item.date}}</span>
            <span>From: {{item.from}}</span> -
            <span>To:   {{item.to}} </span>
          </div>
        </div>
      </template>
    </div>
  </template>

  <script>
    Polymer({
      is: 'teacher-view',
      properties: {
        ID: Number,
        name: String,
        surname: String,
      },

      ready: function(){
        this.ID = 1;
        this.name = 'Bruce';
        this.surname = 'Wayne';

        this.myTimetable = [];

        var _self = this;

        firebase.database().ref('api/timetable').once('value').then(function(snapshot) {
          var myList = [];
          snapshot.forEach(function(childSnap){
            if(childSnap.val().teacher_id == _self.ID){
              myList.push({ID: childSnap.key, date: childSnap.val().date, to: childSnap.val().to, from: childSnap.val().from});
            }
          });

          _self.set('myTimetable', myList);

          console.log(JSON.stringify(_self.myTimetable));
        });
      },

      addTime: function(){
        var date = '18.10.2016';
        var time_from = '14:30';
        var time_to = '18:00';

        console.log('logged user: ' + this.name);

        var database = firebase.database();

/*        database.ref('api/timetable').once('value').then(function(snapshot) {
          var value = snapshot.val();
          console.log('ID VALUE: ' + value);
        });*/


        database.ref('api/timetable').push({
          teacher_id: this.ID,
          date: date,
          from : time_from,
          to : time_to,
        });

      }

    });
  </script>
</dom-module>
